on:
  push:
    branches:
      - "master"

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pg_version: [12, 13]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            pg_version=${{ matrix.pg_version }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
          push: false
          tags: fengkx/postgres:${{ matrix.pg_version }}-alpine
